body {font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: 100px
  }
  body {
   
    width: 100px;
    height: 150px;
    padding: 50px;
  }
  .main{
    width: 1123px;
    height: 584px;
padding-right: -69px;
    margin-top: -54px;
    border-style: solid;

    }
.register {
    background-color: #4CAF50;
    color: #9e7575;
    padding: 37px 205px;
    margin: 8px;
    margin-top: 3px;
    margin-right: 0px;
    margin-left: 1px;
    border: none;
    cursor: pointer;
    width: 705px;
    opacity: 0.9;
    border-style: solid;
  }
  .butto{
    padding: 8px;
    margin-top: -36px;
    margin-left: 963px;
    width: 123px;
    border-style: solid;
    background-color: #4CAF50;
    color: #130303;
  }
  .container1 {
    padding: 8px;
    margin-top: 0px;
    margin-right: 0px;
  
  }
  .text {
    padding: 8px;
    margin-top: 400px;
    margin-left: 519px;
    width: 443px;
    border-style: solid;
  
  
  }
  .container {
    padding: 8px;
    margin-top: -56px;
    margin-right: 0px;
    text-align: center;
  }
  .main-panel {
    background-color: #f4f3ef;
    position: absolute;
    z-index: 2;
    float: right;
    width: 19%;
    height: 340px;
    padding: 41px;
    margin-left: 40px;
    border-style: solid;
    
    }
    .main-panel1 {
      background-color: #f4f3ef;
      position: absolute;
      z-index: 2;
      float: right;
      width: 168px;
    height: 0px;
    padding: 196px;
    margin-right: 1000px;
    margin-left: 518px;
    border-style: solid;
      
    }
    
    
  