<div class="col-md-6 col-md-offset-3">
    <link rel="stylesheet" href="./css/style.css">
    <h4 style="text-align:center;color:blue">Login</h4>
    <form name="form" ng-submit="log.login()" role="form" method="POST">

        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control" ng-model="log.username" required
            placeholder="Enter Email ID" />
        <div class="form-actions" layout="row">
            <button type="submit" ng-disabled="form.$invalid || log.dataLoading" class="btn btn-primary"
                ng-click="resetPassword()">Forgot Password</button>
            <a href="login.html" ng-click="go()">Login</a>
        </div>
    </form>
</div>