<html>

<head>
  <link rel="stylesheet" href="./css/style1.css">
</head>
<div class="main">
  <div class="register">
    <a href="#/login">Logout</a>
    <header>
      <div class="container">
        <h1>welcome chat Aplication</h1>
      </div>
    </header>
  </div>
  <div class="main-panel">

    <h1>user list</h1>
  </div>
  <div>
    <div class="main-panel1">
      <h1>chat</h1>
    </div>
    <div>
      <input type="text" name="message" id="message" class="text" ng-model="message" placeholder="Type a message" />
    </div>
    <div>
      <button type="submit" class="butto">Send</button>
    </div>
  </div>
</div>

</html>