<div class="col-md-6 col-md-offset-3">
    <link rel="stylesheet" href="./css/style.css">
    <h4 style="text-align:center;color:blue">Login</h4>
    <form name="form" ng-submit="login()" ng-controller="loginController" >

        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control" ng-model="email" required
            placeholder="Enter Email ID" />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block"></span>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" ng-model="password" required
            placeholder="Enter Password" />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block"></span>


        <div class="form-actions" layout="row">
            <button type="submit" ng-disabled="form.$invalid || log.dataLoading" ng-click="login()" ng-click="go()">Login</button>

            <span style="float:right">Not a member?<a href="/#/register" >Register</a></span>
            <a href="/#/forgotPassword" >Forgot Password</a>
        </div>
    </form>
</div>