<div class="col-md-6 col-md-offset-3">
    <link rel="stylesheet" href="./css/style.css">
    <h4 style="text-align:center;color:blue">ResetPassword</h4>
    <form name="form" ng-submit="resetPassword()" role="form">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" ng-model="password" required
            placeholder="Enter Password" />


        <label for="password">confirm Password</label>
        <input type="password" name="password" id="confirm_password" class="form-control" ng-model="new_password" required 
            placeholder="Enter Password" />


        <div class="form-actions" layout="row">
            <button type="submit" ng-disabled="form.$invalid || log.dataLoading" class="btn btn-primary" href="/#/login">Reset</button>
        </div>
    </form>
</div>