<div class="col-md-6 col-md-offset-3">
    <link rel="stylesheet" href="./css/style.css">
    <h4 style="text-align:center;color:blue">Login</h4>
    <form name="form" ng-submit="log.login()" role="form">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" ng-model="log.password" required
            placeholder="Enter Password" />


        <label for="password">New Password</label>
        <input type="password" name="password" id="password" class="form-control" ng-model="log.password" required
            placeholder="Enter Password" />


        <div class="form-actions" layout="row">
            <button type="submit" ng-disabled="form.$invalid || log.dataLoading" class="btn btn-primary" ng-href="login.html">Reset</button>
        </div>
    </form>
</div>