<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body><style>
        body {
            background-image: url("./image.jpeg");
        }
    </style>

    <body>
        <form style="border:1px solid #ccc" method="post">
            <div class="container">
                <h1>Forgot Password</h1>
                <hr>
                <label for="email"><b>Email </b></label>
                <input type="text" placeholder="Enter Email" name="email" required><br>
                <div class="clearfix">
                        <button type="forgot" formaction="file:///home/admin1/chatApp/frontEnd/templates/resetPassword.html"class="signupbtn">
                   
                    
                        Forgot_Password</button>
                </div>
            </div>
        </form>

    </body>

</html>