<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body><style>
        body {
            background-image: url("./image.jpeg");
        }
    </style>

    <body>
        <form style="border:0.50px solid #ccc" method="POST">
            <div class="container">
                <h1>login</h1>
                <hr>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required><br>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required><br>

                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                </label>

                <div class="clearfix">

                    <button type="login" class="signupbtn">login
                    </button>
                    <a href="registration.html">Register</a><br>
                    <a href="forgotPassword.html">Forgot Password</a>
                </div>
            </div>
        </form>

    </body>

</html>