<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body><style>
        body {
            background-image: url("./image.jpeg");
        }
    </style>

    <body>
        <form style="border:1px solid #ccc" method="post">
          
            <div class="container">
                <h1>Forgot Password</h1>
                <label for="psw"><b>New Password  </b></label>
                <input type="password" placeholder="Enter Password" name="psw" required><br>

                <label for="psw-repeat"><b>Repeat Password </b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br>
         
              
               
                <div class="clearfix">
                        <button type="forgot" formaction="file:///home/admin1/chatApp/frontEnd/templates/login.html"class="signupbtn">Reset</button>
                </div>
            </div>
        </form>

    </body>

</html>